header li:nth-of-type(4) {
    color: rgb(192, 96, 176);
}

p {
    font-size: 20px;
    text-align: center;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
}

div {
    width: 20%;
    padding: 20px;
}

img:not(header img) {
    margin: auto;
    width: 100%;
}

section article>p:last-child {
    font-weight: bold;
    font-size: 22px;
    width: 100%;
}

footer {
    color: white;
    padding: 1px;
    background-color: rgb(143, 0, 88);
    font-size: 18px;
}

footer ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

footer li {
    list-style-type: none;
    width: 30%;
}

footer li:last-child {
    color: rgb(180, 142, 182);
    margin-top: 20px;
}

@media(max-width:520px) {
    h1 {
        font-size: 20px;
    }

    header ol {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content:start;
    }

    header li:first-child{
        display: none;
    }

    header li, header li:last-of-type{
        width: 50%;
        margin-left: 20px;
        font-size: 18px;
    }
    p, h2{
        font-size: 18px;
    }

    div {
        width: 30%;
    }    
}