:root {
    background-color: rgba(255, 237, 220, 0.897);
    width: 95%;
    margin: auto;
}

p {
    font-size: 20px;
    text-align: justify;
}
.versalitas{
    font-variant: small-caps;
}
h1 {
    color: white;
    text-align: center;
    padding: 15px;
    background-color: rgb(143, 0, 88);
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    border-bottom: 4px solid rgba(109, 6, 75, 0.753);
    width: 100%;
    margin: auto;
}

ol {
    padding: 0%;
    text-align: center;
}

.indice {
    display: inline-block;
    width: 18%;
    font-family: "Chewy";
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    margin: 0;
    color: rgba(109, 6, 75, 0.753);
   
}

#logo{
    width: 10%;
}

.indice:hover {
    text-decoration: underline rgb(243, 190, 234);
    color: rgb(243, 190, 234);
}

h2 {
    font-family: "Sour Gummy";
    color: rgba(61, 4, 43, 0.801);
    font-size: 25px;
    text-align: center;
}

article {
    border-bottom: 4px solid rgba(109, 6, 75, 0.753);
}

h3 {
    font-family: "Delius Swash Caps";
    font-size: 20px;
}

section:last-child p:last-child {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

footer {
    color: white;
    padding: 1px;
    background-color: rgb(143, 0, 88);
    font-size: 18px;
}

footer ol>li {
    display: inline-block;
    width: 20%;
}

footer>p:last-child {
    text-align: center;
    color: black;
}