h1{
    color: rgb(143, 0, 88);
    text-align: center;
}
h2{
    border-bottom: 5px rgb(233, 132, 0) solid;
}
h3{
    font-size:large;
    font-family: monospace;
    text-decoration: underline double purple;
}
body{
    text-align: center;
}
p,h2{
    text-align: justify;
}
li{
    display: inline-block;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: rgb(156, 105, 190);
    color: white;
    border: solid 2px  rgb(143, 0, 88);
    
}
li:hover{
    background-color: rgb(255, 206, 255);
    color:  rgb(124, 73, 158);
}
img{
    width: 170px;
    height: 200px;
}
:root{
    background-color: rgb(255, 215, 169);
}