header li:nth-of-type(7) {
    color: rgb(192, 96, 176);
}

section:first-of-type{
    border-top: 4px solid rgba(109, 6, 75, 0.753);
}

article nav{
    padding: 0;
    margin: 0;
}

article ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
    margin: 0;
}

article li {
    width: 100%;
    font-family: "Delius Swash Caps";
    font-size: 20px;
    list-style: none;
}

section>p:nth-last-of-type{
    margin-top:50px;
}

@media(max-width:520px) {
    h1 {
        font-size: 20px;
    }

    header ol {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content:start;
    }

    header li:first-child{
        display: none;
    }

    header li, header li:last-of-type{
        width: 50%;
        margin-left: 20px;
        font-size: 18px;
    }
    article li, h2{
        font-size: 18px;
    }   
}
