:root {
    background-color: rgba(255, 237, 220, 0.897);
}

body {
    margin: auto;
    width: 95%;
}

header {
    width: 100%;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    padding: 15px;
    background-color: rgb(143, 0, 88);
    font-size: 30px;
}

header ol {
    text-align: center;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: flex-end;
}

header li:first-of-type {
    width: 10%;
}

header li {
    font-family: "Chewy";
    text-decoration: none;
    color: rgba(109, 6, 75, 0.753);
    font-size: 22px;
    font-weight: 100;
    width: 14%;

}

header li:last-of-type {
    width: 16%;
}

header ol img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

section:first-child ol {
    border-bottom: 4px solid rgba(109, 6, 75, 0.753);
    border-top: 4px solid rgba(109, 6, 75, 0.753);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}

section:first-child li {
    list-style-type: none;
    padding: 20px 0;
    font-weight: bold;
    color: rgba(158, 44, 120, 0.879);
    font-size: 20px;
}

section:first-child li:nth-child(1),
section:first-child li:nth-child(3) {
    width: 18%;
}

section:first-child li:nth-child(even) {
    width: 5%;
}

section:first-child li:nth-child(5), section:first-child li:nth-child(7) {
    width: 23%;
}

section:last-child {
    width: 85%;
    margin: auto;
}

p {
    font-size: 20px;
    text-align: justify;
}

article img{
    float: left;
    width: 20%;
    padding-right: 20px;
}

button:first-of-type{
    color: white;
    font-family: "Sour Gummy";
    font-size: 15px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(143, 0, 88);
    border: 1px solid rgb(143, 0, 88);
    margin-top: 10px;
}

p:nth-of-type(4){
    clear: left;
}

button:nth-last-of-type(1){
    color: white;
    font-family: "Sour Gummy";
    font-size: 15px;
    width: 250px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(143, 0, 88);
    border: 1px solid rgb(143, 0, 88);
}

button:hover{
    color: rgb(143, 0, 88);
    background-color: white;
}

article>p:last-child {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
}

footer {
    color: white;
    padding: 1px;
    background-color: rgb(92,0,63);
    font-size: 18px;
}

footer ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

footer li {
    list-style-type: none;
    width: 30%;
}

footer li:last-child {
    color: rgb(231,162,231);
    margin-top: 20px;
}

@media(max-width:520px) {
    h1 {
        font-size: 20px;
    }

    header ol {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: start;
    }

    header li:first-child {
        display: none;
    }

    header li,
    header li:last-of-type {
        width: 50%;
        margin-left: 20px;
        font-size: 18px;
    }
    section:first-child li:nth-child(1),
    section:first-child li:nth-child(3) {
        width: 40%;
    }

    section:first-child li:nth-child(even) {
        width: 10%;
    }

    section:first-child li:nth-child(5), section:first-child li:nth-child(7) {
        width: 70%;
    }

    article img{
        width: 40%;
    }

    p {
        font-size: 18px;
    }

    
}
