header li:nth-of-type(6) {
    color: rgb(192, 96, 176);
}


section:first-of-type {
    border-top: 4px solid rgba(109, 6, 75, 0.753);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
}

label {
    width: 20%;
}

input,
select,
textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
}

select {
    width: 72%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 95%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: rgb(138, 83, 112);
}


@media(max-width:520px) {
    h1 {
        font-size: 20px;
    }

    header ol {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: start;
    }

    header li:first-child {
        display: none;
    }

    header li,
    header li:last-of-type {
        width: 50%;
        margin-left: 20px;
        font-size: 18px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    label {
        width: 80%;
    }

    input,
    select,
    textarea {
        width: 70%;
    }

    button {
        width: 90%;
    }
}