:root {
    background-color: rgba(255, 237, 220, 0.897);
}

section:first-child p {
    font-size: 20px;
    text-align: justify;
    padding: 0 20px;
}

h1 {
    color: white;
    text-align: center;
    padding: 15px;
    background-color: rgb(143, 0, 88);
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    margin: auto;
}

ol {
    padding: 0%;
    text-align: center;
}

.indice {
    display: inline-block;
    width: 13%;
    font-family: "Chewy";
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    margin: 0;
    color: rgba(109, 6, 75, 0.753);
   
}

#logo{
    width: 9%;
}

.indice:hover {
    text-decoration: underline rgb(243, 190, 234);
    color: rgb(243, 190, 234);
}

section:first-child>article {
    border-bottom: 4px solid rgba(109, 6, 75, 0.753);
    border-top: 4px solid rgba(109, 6, 75, 0.753);
}

p {
    font-size: 20px;
    text-align: justify;
}
.versalitas{
    font-variant: small-caps;
}

h2 {
    font-family: "Sour Gummy";
    color: rgba(61, 4, 43, 0.801);
    font-size: 25px;
    text-align: center;
}

h3 {
    font-family: "Delius Swash Caps";
    font-size: 20px;
}

img:not(#logo){
    display: inline-block;
    width: 100px;
}

nav.info{
    display: inline-block;
}

main ol>li, .novelas {
    text-align: left;
    list-style-type: none;
    font-size: 20px;
    width: 100%;
}

h4 {
    font-family: "Sour Gummy";
    font-size: 20px;
    text-decoration: underline;
}

section>p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

footer {
    color: white;
    padding: 1px;
    background-color: rgb(143, 0, 88);
    font-size: 18px;
}

footer ol>li {
    display: inline-block;
    width: 20%;
}

footer>p:last-child {
    text-align: center;
    color: black;
}
